* {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

#csh-login-wrap{
    display: none;
    z-index: 99999;
    width: 100%;
    height: 100%;
}

.login_dialog {
    position: absolute;
    max-width: 450px;
    min-width: 320px;
}

.login_dialog button, .login_dialog input, .login_dialog select, .login_dialog textarea, .login_dialog label{
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.66;
}
.login_dialog .alert_status{
    border: none !important;
    background-color: #ffc107!important;
    color: #fff !important;
}
.login_dialog .alert_status.alert-success{
    background-color: #28a745!important;
    color: #fff !important;
}

.login_dialog .alert_status.alert-error{
    background-color: #dc3545!important;
    color: #fff !important;
}

.login_dialog h2 {
    font-size: 28px !important;
}

.login_dialog label {
    display: inline-table;
    margin-bottom: 5px;
}


.login_dialog input::placeholder {
    opacity: 0.8 !important;
}


a.boxclose{
    position: absolute;
}

#allow_pass{
    display: none;
}

.pass_and_register a {
    text-decoration: none;
    font-size: 16px;
}

/*social login*/
.social-login{
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.social-login a{
    font-size: 14px;
    margin-right: 10px;
    color: #fff !important;
    height: 35px;
    line-height: 33px;
    position: relative;
    text-align: left;
    width: auto;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 250ms linear;
}

.social-login a i{
    margin-right: 10px;
}

.social-login a i:before{
    display: inline-block;
    width: 22px;
}
/*Facebook*/
.social-login .login-btn-facebook {
    background-color: #4b70ab;
    border: 1px solid #3b5988;
}
.social-login .login-btn-facebook:hover{
    background-color: #436499;
}

.social-login .login-btn-facebook i{
    border-right: 1px solid #3b5988;
}
.social-login .login-btn-facebook i:after{
    content: '';
    border-right: 1px solid #6b8bbe;
}

/*Twitter*/
.social-login .login-btn-twitter {
    background-color: #3B94D9;
    border: 1px solid #257abc;
}
.social-login .login-btn-twitter:hover{
    background-color: #2988d2;
}
.social-login .login-btn-twitter i{
    border-right: 1px solid #257abc;
}
.social-login .login-btn-twitter i:after{
    content: '';
    border-right: 1px solid #66abe1;
}

/*Google*/
.social-login .login-btn-google {
    background-color: #DD4B39;
    border: 1px solid #c23321;
}
.social-login .login-btn-google:hover{
    background-color: #d73925;
}

.social-login .login-btn-google i{
    border-right: 1px solid #c23321;
}
.social-login .login-btn-google i:after{
    content: '';
    border-right: 1px solid #e47365;
}

.g-recaptcha{
    margin: 10px 0 20px;
}
