.cshlg-popup {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.cshlg-popup .login_dialog{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_dialog {
    border: 1px solid rgba(161, 161, 161, 0.6);
    background: #FFFFFF;
    padding: 30px;
}

.login_dialog h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}
.login_dialog input[type=text],
.login_dialog input[type=password],
.login_dialog input[type=email] {
    border: 1px solid rgba(96, 125, 139, 0.25);
    min-height: 32px;
    margin-bottom: 10px;
    padding: 7px 12px;
    width: 100%;
}
.login_dialog input[type=text]:focus,
.login_dialog input[type=password]:focus,
.login_dialog input[type=email]:focus {
    border-color: rgba(96, 125, 139, 0.5);
}
.login_dialog input[type=submit] {
    display: block;
    cursor: pointer;
    margin: 10px 0px 15px 0px;
    font-weight: bold;
    width: 100%;
    min-height: 32px;
}
.login_dialog input[type=submit]:hover {
}

.forgetmenot{
    display: block;
}

.login_dialog .pass_and_register {

}

.pass_and_register a {
    margin-right: 10px;
}

.alert_status {
    background: #f44336;
    color: #f1f1f1;
    font-style: italic;
    padding-left: 10px;
}

a.boxclose{
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
    color: #009688;
    z-index: 10;
    font-size: 18px;
}
a.boxclose:hover{
    background: rgba(0,0,0,0.1);
}

.boxclose:after {
    content: '\00D7';
    display: inline-block;
}
