.swh-alert {
    background-color: #2b982b !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    bottom: 70px;
    color: #fff;
    height: auto;
    position: fixed;
    right: 69px;
    line-height: 49px;
    text-align: center;
    width: auto;
    font-size: 16px;
    z-index: 9999;
    padding: 0 48px 0 28px;
}

.swh-alert span.zmdi {
    cursor: pointer;
    display: block;
    height: 49px;
    line-height: 49px;
    position: absolute;
    right: 0;
    top: 0;
    width: 49px;
}

.swh-alert.swh-success {
    background-color: #2b982b !important;
}

.swh-alert.swh-warning {
    background-color: #ff9600 !important;
}
.swh-alert.swh-error {
    background-color: #ff2a16 !important;
}

.swh-alert-contents {
    display: inline-block;
}

.swh-checkout-primary-inner {
    position: relative;
}

.swh-order-loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #19181812;
}

.swh-order-loading span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
}

.swh-order-notification .swh-noti-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    top: 0;
    left: 0;
}

.swh-order-notification .swh-order-noti-inner {
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    left: 0;
    margin: auto;
    max-width: 560px;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 9999;

}

.swh-order-notification .swh-noti-title {
    font-size: 28px;
}

.swh-order-notification .swh-noti-contents p {
    margin-bottom: 0;
}

.swh-order-notification .swh-noti-close {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    width: 18px;
    top: 6px;
    right: 6px;
    position: absolute;
}

.swh-stars span.swh-star-show {
    color: #F9B701;
}

.swh-price-filter {
    margin: 10px;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    outline: none;
}

.swh-effect.active {
    visibility: visible;
    opacity: 1;
}

.swh-effect {
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
}
.swh-filed .swh-f-error{
    border-color: red !important;
}

.swh-box.box-change-password .infor-change-popup input.swh-error,.swh-edit-user-info .row-edit-info input.swh-error {
    border: 1px solid red;
}
p.swh-notice-f.swh-field-error {
    color: red;
    margin: 5px 0px 10px 0px;
}
.swh-box.box-change-password {
    position: relative;
}
.swh-dashboard-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #19181812;
}
.swh-dashboard-loading span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
}
p.swh-notice-f.swh-field-success {
    color: #34b525;
}
.swh-edit-user-info{
    position: relative;
}

/*style edit order*/
.swh-popup-edit-order.o-hidden {
    opacity: 0;
    visibility: hidden;
}
.swh-popup-edit-order {
    position: fixed;
    top: 0;
    width: 100%;
    background: #403b3bbd;
    z-index: 2000;
    padding: 0px 86px;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transition: all ease 1s 0s;
}
.edit-order-wrap{
    display: flex;
    margin-top: 100px;
    background: #fff;
    overflow-x: scroll;
    max-height: calc(95% - 100px);
    height: 100%;
}
.edit-order-wrap .swh-col-left{
    flex-grow: 1;
    width: 40%;
}
.edit-order-wrap .swh-col-right{
    flex-grow: 1;
    width: 50%;
}
.edit-order-wrap .swh-col-left .cms-room-image{
    border-bottom: 1px solid #b7b7b7;
    position: relative;
}
.edit-order-wrap .swh-col-left .cms-room-image .cms-room-title{
    position: absolute;
    top: 27px;
    left: 23px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 20px;
    font-size: 15px;
    margin-bottom: 0;
    background: #000;
    -webkit-transition: all 500ms linear 0ms;
    -khtml-transition: all 500ms linear 0ms;
    -moz-transition: all 500ms linear 0ms;
    -ms-transition: all 500ms linear 0ms;
    -o-transition: all 500ms linear 0ms;
    transition: all 500ms linear 0ms;
    color: #fff !important;
}
.edit-order-wrap .swh-col-left .cms-room-image .cms-room-title a{
    color: #fff;
}
.edit-order-wrap::-webkit-scrollbar {
    display: none;
}
